{% extends 'admin/baseadmin.html.twig' %}
{% block corp %}

<br><br>

<h2> Evenement  </h2>
<br>


<br>
<div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-30 header-title">Ajouter event</h4>
                            {{form_start(f)}}

                            <div class="form-group">
                                <label for="type">nom</label>
                                  {{ form_row( f.nom,{'attr' : {'placeholder' : "Saisir votre Nom"}}) }}
                              {{ form_errors(f.nom, {'attr': {'class': 'text-danger'}}) }}

                            </div>
                            <div class="form-group">
                                
                                {{ form_row( f.typeE,{'attr' : {'placeholder' : "Saisir le type d'événement"}}) }}
                                   {{ form_errors(f.typeE, {'attr': {'class': 'text-danger'}}) }}

                            </div>
                            <div class="form-group">
                                
                               {{ form_row( f.date_debut,{'attr' : {'placeholder' : "Saisir la date de début"}}) }}
                                   {{ form_errors(f.date_debut, {'attr': {'class': 'text-danger'}}) }}

                            </div>
                            <div class="form-group">
                               
                                {{ form_row( f.date_fin,{'attr' : {'placeholder' : "Saisir la date de fin"}}) }}
                                   {{ form_errors(f.date_fin, {'attr': {'class': 'text-danger'}}) }}
                            </div>
                            <div class="form-group">
                                
                                {{ form_row( f.description,{'attr' : {'placeholder' : "Mettez une description"}}) }}
                                   {{ form_errors(f.description, {'attr': {'class': 'text-danger'}}) }}

                            </div>
                              <div class="form-group">
                            
                            {{ form_widget(f.image, {'attr':{'class':'form-control'}})}}
                        </div>
                              
                             
                            

                           

                            {{ form_end(f) }}

                        </div>
                        
                    </div>



                </div>
            </div>
        </div>
    </div>






 {% endblock %}